# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("Output/weather_df.csv")
weather_data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,hamilton,1,US,1590338694,69,39.18,-84.53,84.99,3.36
1,1,mattoon,1,US,1590338718,69,39.48,-88.37,84.00,5.82
2,2,yellowknife,20,CA,1590338718,59,62.46,-114.35,39.00,2.24
3,3,albany,100,US,1590338666,33,42.60,-73.97,70.00,9.19
4,4,hobart,90,AU,1590338718,75,-42.88,147.33,46.40,8.05
...,...,...,...,...,...,...,...,...,...,...
563,563,saint-pierre,75,RE,1590338776,73,-21.34,55.48,71.60,10.29
564,564,koumac,100,NC,1590338776,73,-20.57,164.28,71.10,13.96
565,565,porto novo,75,PT,1590338548,50,41.15,-8.61,80.01,10.29
566,566,camacha,96,PT,1590338776,33,33.08,-16.33,77.00,17.22
567,567,puerto baquerizo moreno,0,ES,1590338750,37,36.59,-6.23,91.40,13.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
20,20,zhezkazgan,0,KZ,1590338719,29,47.80,67.71,77.00,8.95
47,47,port elizabeth,0,CD,1590338721,57,-7.03,29.76,73.85,3.96
64,64,port lincoln,0,CD,1590338721,57,-7.03,29.76,73.85,3.96
82,82,lixourion,0,GR,1590338724,36,38.20,20.43,71.01,1.99
99,99,port alfred,0,CD,1590338721,57,-7.03,29.76,73.85,3.96
114,114,port hardy,0,CD,1590338727,57,-7.03,29.76,73.85,3.96
196,196,port jervis,0,CD,1590338735,57,-7.03,29.76,73.85,3.96
236,236,aguilas,0,ES,1590338739,29,37.41,-1.58,77.00,1.99
278,278,abu dhabi,0,IN,1590338744,35,24.60,72.70,74.52,8.14
332,332,port blair,0,CD,1590338751,57,-7.03,29.76,73.85,3.96
348,348,baijiantan,0,CN,1590338752,22,45.63,85.18,77.07,3.60
410,410,abapo,0,BO,1590338759,20,-18.83,-63.47,74.08,5.79
456,456,santiago de chuco,0,CL,1590338765,17,-33.46,-70.65,73.40,1.50
497,497,port keats,0,CD,1590338721,57,-7.03,29.76,73.85,3.96
502,502,port arthur,0,CD,1590338727,57,-7.03,29.76,73.85,3.96
541,541,port macquarie,0,CD,1590338751,57,-7.03,29.76,73.85,3.96

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                  City Country    Lat    Lng Hotel Name
20          zhezkazgan      KZ  47.80  67.71
47      port elizabeth      CD  -7.03  29.76
64        port lincoln      CD  -7.03  29.76
82           lixourion      GR  38.20  20.43
99         port alfred      CD  -7.03  29.76
114         port hardy      CD  -7.03  29.76
196        port jervis      CD  -7.03  29.76
236            aguilas      ES  37.41  -1.58
278          abu dhabi      IN  24.60  72.70
332         port blair      CD  -7.03  29.76
348         baijiantan      CN  45.63  85.18
410              abapo      BO -18.83 -63.47
456  santiago de chuco      CL -33.46 -70.65
497         port keats      CD  -7.03  29.76
502        port arthur      CD  -7.03  29.76
541     port macquarie      CD  -7.03  29.76

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [8]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 20: zhezkazgan.
Closest hotel in zhezkazgan is Hotel Zumrat.
------------
Retrieving Results for Index 47: port elizabeth.
Missing field/result... skipping.
------------
Retrieving Results for Index 64: port lincoln.
Missing field/result... skipping.
------------
Retrieving Results for Index 82: lixourion.
Closest hotel in lixourion is Cephalonia Palace ÎžÎµÎ½Î¿Î´Î¿Ï‡ÎµÎ¯Î¿.
------------
Retrieving Results for Index 99: port alfred.
Missing field/result... skipping.
------------
Retrieving Results for Index 114: port hardy.
Missing field/result... skipping.
------------
Retrieving Results for Index 196: port jervis.
Missing field/result... skipping.
------------
Retrieving Results for Index 236: aguilas.
Closest hotel in aguilas is Hotel Carlos III.
------------
Retrieving Results for Index 278: abu dhabi.
Closest hotel in abu dhabi is Sterling Mount Abu Resorts and Hotels.
------------
Retrieving Results for Index 332: port blair.
Missing field/result... skipping.
------------
Retrieving Results for Index 348: baijiantan.
Missing field/result... skipping.
------------
Retrieving Results for Index 410: abapo.
Missing field/result... skipping.
------------
Retrieving Results for Index 456: santiago de chuco.
Closest hotel in santiago de chuco is The Ritz-Carlton, Santiago.
------------
Retrieving Results for Index 497: port keats.
Missing field/result... skipping.
------------
Retrieving Results for Index 502: port arthur.
Missing field/result... skipping.
------------
Retrieving Results for Index 541: port macquarie.
Missing field/result... skipping.
------------
-------End of Search-------

In [9]:
# Display the hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
20,zhezkazgan,KZ,47.80,67.71,Hotel Zumrat
47,port elizabeth,CD,-7.03,29.76,
64,port lincoln,CD,-7.03,29.76,
82,lixourion,GR,38.20,20.43,Cephalonia Palace ÎžÎµÎ½Î¿Î´Î¿Ï‡ÎµÎ¯Î¿
99,port alfred,CD,-7.03,29.76,
114,port hardy,CD,-7.03,29.76,
196,port jervis,CD,-7.03,29.76,
236,aguilas,ES,37.41,-1.58,Hotel Carlos III
278,abu dhabi,IN,24.60,72.70,Sterling Mount Abu Resorts and Hotels
332,port blair,CD,-7.03,29.76,
348,baijiantan,CN,45.63,85.18,
410,abapo,BO,-18.83,-63.47,
456,santiago de chuco,CL,-33.46,-70.65,"The Ritz-Carlton, Santiago"
497,port keats,CD,-7.03,29.76,
502,port arthur,CD,-7.03,29.76,
541,port macquarie,CD,-7.03,29.76,

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))